<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="questionBean1"
          class="otus.task1.Question">
    </bean>

    <bean id="questionBean2"
          class="otus.task1.Question">
    </bean>

    <bean id="questionBean3"
          class="otus.task1.Question">
    </bean>

    <bean id="testBean"
          class="otus.task1.Test">
        <property name="questions">
            <list>
                <ref bean="questionBean1"/>
                <ref bean="questionBean2"/>
                <ref bean="questionBean3"/>
            </list>
        </property>
    </bean>

</beans>